[2016-10-28 14:41] sjsf opened #1 "Superflous dependencies declared"
The following libraries are defined as compile dependencies:

[code]

However, as far as I can see this project uses the slf4j api, so it should be up to the application that uses jsondb to decide and package the desired logging implementation. I therefore suggest to drop them from here - or maybe add them as testCompile dependency if really needed for running the tests.

[2016-10-29 10:39] #1 closed, assigned to nobody

[2016-10-29 10:42] FarooqKhan commented on #1
Thanks for fixing this Simon
Farooq

[2016-10-29 13:45] FarooqKhan commented on #1
This was released to Maven as build 1.0.64

MavenCentral should be updated in a hour,
mvnrepository.com should start showing it in about 5 to 7 days

[2017-01-08 15:19] doggie1989 opened #3 "Support SQL query will be nice!"

[2017-01-10 10:14] farooq-khan-nxt commented on #3
Adding a SQL query engine is non-trivial. I suspect it will be even more effort than the database code itself. As of now, there is no chance of me adding this. However, if you would like to contribute such a feature, you are totally welcome. I would love to have such a addition.

[2017-01-10 10:16] FarooqKhan commented on #3
Adding a SQL query engine is non-trivial. I suspect it will be even more effort than the database code itself. As of now, there is no chance of me adding this. However, if you would like to contribute such a feature, you are totally welcome. I would love to have such a addition.

[2017-01-30 09:44] PanzerHabba opened #4 "Runtime error on Java(TM) SE Embedded Runtime Environment"
Hi,

I wrote a simple test applicaiton with your jsondb. The application was running fine on windows/ubuntu and raspberry pi. But when i tried running it on a different embedded system (Arnv5tejl) I got an  java.lang.NoClassDefFoundError: java/beans/PropertyDescriptor exception.

Before the exception I got a warning: "Unable to load JDK7 types (annotations, java.nio.file.Path): no Java7 support ad

[2017-01-30 11:54] FarooqKhan commented on #4
Just by looking at your Exception Stacktrace i think Java(TM) SE Embedded Runtime Environment does not have the "java.nio.file.*" package. I can fix this and create a version of JsonDB that does not uses classes from this package "java.nio.file.*" at all.

The other issue of "annotations" support not present in the Java(TM) SE Embedded Runtime Environment " is a bit of trouble, I will study this i

[2017-01-30 12:30] PanzerHabba commented on #4
Thank you for you fast reply @FarooqKhan.

It would be really nice if we could make use of your package. It`s more straightforward and "cleaner" than the old "mapdb" option.

[2017-02-08 15:03] FarooqKhan commented on #4
Hi PanzerHabba,

The initial warnings you see about "annotations, java.nio.file.Path" are a issue but it will not be a problem unless you try to Add a EventListener to the watch for direct changes to the db files using other filesystem utilities. This is a usecase that very few people would want to use.

However the issue of the class "ClassNotFoundException: java.beans.PropertyDescriptor" is a mo

[2017-07-31 07:22] ivanmarban commented on #4
Hi FarooqKhan,

I didn't have any problem running a JsonDB simple code on this environment:

- Java(TM) SE Embedded Runtime Environment (build 1.8.0_131-b11, headless)
- Linux 4.9.39-2-ARCH #1 SMP Wed Jul 26 01:23:45 UTC 2017 armv7l GNU/Linux

I did a simple project saving data and making an XPath query.

Hope this info could help you.

Regards.

[2017-07-31 08:01] FarooqKhan commented on #4
Thanks @ivanmarban  this will help others who might be also trying on embedded platform

[2017-11-23 16:03] chhex opened #5 "Jsondb ignore formatting characters upon loading"
First - off thanks for the great work! I have a feature suggestion: It would be nice, if jsondb can deal with whitespace resp. formatting characters upon loading.

Szeanario:  To change data in the json files of jsondb i usually format the file in a Json Editor, which helps for editing the files.   It seems that jsondb cannot deal with certain formatting. When i format a file for example with the

[2017-11-24 11:58] FarooqKhan commented on #5
@chhex Thanks for using JsonDB and taking the time to report this issue.

Yes, this is a problem. Its easier to deal with the files if one line of data is treated as just one row/document. but as you highlighted editing these .json files is not really user-friendly. And I have often thought of ways to fix this, but never could determine the best way. A few ways I think this can be fixed:
* Accept

[2017-11-27 15:29] chhex commented on #5
@FarooqKhan best thanks for your time and consideration.

I agree it's not a trivial problem. I think your suggestions are helpful.
How about only the pretty-print=true option and then jsondb can make assumptions that the formatting is left unchanged?  At least for a start.
That said: i have to try it out to give you definite feedback.  I would be happy to try it out.

[2017-12-08 20:38] ghost opened #6 "Simple collections as part of Documents"
Hello,

I have a simple bean:
[code]
and some database class

[code]

So in json, bean comes as:
[code]

Is the saving of basic collections inside of documents not supported? Is there a workaround for that?

Using version: 1.0.36

Thank you,
oiale

[2017-12-08 20:53] ghost commented on #5
@FarooqKhan @chhex
What if the internal representation of the collection is a bit different?
Instead of having:
[code]
have something like
[code]
Since the latter json is in correct form, it does not matter whether you pretty-print it or not.
Yes, it does add two levels of nesting, but on the other hand using any json parser is possible.
Also, this form allows you to insert as much metadata (like

[2017-12-10 14:07] FarooqKhan commented on #6
Hi @oiale

```Arrays.asList("A", "B")``` returns a object of type Arrays$ArrayList```

Arrays.asList returns a List implementation, but it's not a java.util.ArrayList. It happens to have a classname of ArrayList, but that's a nested class within Arrays - a completely different type from java.util.ArrayList

Also JsonDB uses XMLEncoder internally to create a deep copy of objects before processing t

[2017-12-12 01:39] ghost commented on #6
@FarooqKhan
Thank you, the issue is resolved. Do you have a wiki that you could put this on?

[2017-12-12 01:39] #6 closed, assigned to nobody

[2017-12-12 01:51] ghost opened #7 "ClassCastException"
Hello again,

I am having a different issue now.

Same bean
[code]
and database class
[code]

I also have a Spring Controller
[code]

So when I call http://localhost/test/a I get
[code]

where the ```at Database.a()``` points to the line ```for (Bean bean : all) ```.

I was looking online and people suggest that somehow I may have several class loaders and somehow I may be casting classes from dif

[2017-12-12 19:03] ghost commented on #7
Ok, I have found out the root cause of the issue. It happened because I used spring-boot-devtools which would restart the application every time you save a file. So the devtools artifact has its own class loader that pretty much makes all the objects during the development, instead of sun.misc.Launcher$AppClassLoader.

Would be great to know if there is a way to make it work with the devtools. Not

[2017-12-12 19:10] FarooqKhan commented on #7
Hi,

Sorry could not get to studying the problem, been busy with work. Just wanted to mention As far as I remember have not used any custom classloader in JsonDB.

I do know that there is a user who has used JsonDB with a lot of custom classloader code and it works fine.

[2017-12-12 19:11] FarooqKhan commented on #7
I have not used spring-boot-devtools myself, but i will see if i can try it out over the weekend.

[2017-12-12 19:17] FarooqKhan commented on #7
If you suspect classloaders are causing this, then what if you saved the classloader used at time of instantiation of JsonDBTemplate
```final ClassLoader cached = Thread.currentThread().getContextClassLoader();```
And then before you run your for each loop set the cached loader
```Thread.currentThread().setContextClassLoader(cached)```

Would this maybe solve your problem

[2017-12-17 20:23] ghost commented on #7
I think that fiddling with class loaders just for the development environment is not worth it. I have disabled boot-dev, and I think I am fine with that.
Is there a way to integrate with that framework though?

[2017-12-31 02:10] vince-bickers commented on #7
@oiale @FarooqKhan @sjka Please check: https://github.com/vince-bickers/spring-data-jsondb. It's still WIP, but basic Repository and REST integration is working.

[2017-12-31 12:05] FarooqKhan commented on #7
@vince-bickers  for creating this let me know when it is complete I can add this detail to the webpage and provide links to your repository. Optionally if you are willing we can move this under the jsondb organization on github you can still own it.

[2018-01-03 21:47] FarooqKhan commented on #5
@chhex
I created a [Atom Editor](https://atom.io/) plugin to solve this problem that you are facing [jsondb-atom-plugin](https://atom.io/packages/jsondb-atom-plugin).

The plugin is work in progress but should be usable as it is now.

If you get some time try using it, I would appreciate any feedback you have about the plugin.

I know its a special way of editing these files but I think this is mu

[2018-02-12 07:03] alpercoskun opened #8 "JsonParseException deletes db file"
When there is a problem in JSON file, it gets JsonParseException and it deletes this entry. But it should leave the file untouched, it is much better, otherwise we lost all the data because of a simple problem in JSON file.

com.fasterxml.jackson.core.JsonParseException: Unexpected character ('6' (code 54)): was expecting a colon to separate field name and value
 at [Source: ...; line: 1, column:

[2018-02-12 10:25] FarooqKhan commented on #8
Make sense, I will try to fix this soon

[2018-03-09 18:21] dev-goalz opened #9 "Is it possible to encrypt the complete .json file?"
The current implementation only encrypts the properties of a entity marked with @Secret.

I would like the complete text file to be unreadable. It this possible to implement, or does this conflict with the design?

[2018-03-12 17:43] FarooqKhan commented on #9
Theoretically its possible to do this, however, it would not be good to do this. If the entire file is encrypted then even trivial write operation would require the entire file to be re-written to the disk. JSONDB also supports inserts and deletes which would simply take too long

[2018-04-15 08:40] harutyunyan-vahe opened #10 "Is it possible to index json values ?"
Is it possible to index json values for fast querying  ?

[2018-04-15 11:15] FarooqKhan commented on #10
Some of the query methods like findId() they try to find the objects directly in the collection i guess something could be done to make them use better collection types so the find is faster. Most query methods simply depend on Apache JxPath for the XPath support I don't think there is any indexing possible with those.

Either case there is no configurable option to achieve what you wish you will

[2018-05-21 07:23] debuglevel opened #11 "Clarify that a default constructor is needed"
If no default constructor is given, calls to jsondb will fail with an ArrayOutOfBoundsException or an InstantiationException somewhere in a java.* package (during the XML serialization and deserialization step).

It would be nice to point out, that those POJOs have to be JavaBeans (and may be to clarify what a JavaBean is). It would be even better to check for a default constructor via reflection

[2018-05-21 09:18] FarooqKhan commented on #11
Thanks i will try to fix this soon

[2018-05-25 07:56] jgardi3 opened #12 "Util.deepCopy() question"
Hi Farooq,
I really love jsondb.io !!!

I did some experimentation: I commented out the deep copying code in the Util.java class:

protected static Object deepCopy(Object fromBean) {
//    ByteArrayOutputStream bos = new ByteArrayOutputStream();
//    XMLEncoder out = new XMLEncoder(bos);
//    out.writeObject(fromBean);
//    out.close();
//
//    ByteArrayInputStream bis = new ByteArrayInputStre

[2018-05-27 10:48] FarooqKhan commented on #12
Hi Joel,

1. Deep copying was done so that the objects in memory would be disconnected from the objects returned by the various query method.
2. Not doing deep copy has one side effect, once you have queried and obtained object(s) from the JsonDB you can then change the contents of that object and those changes would also be done in the JsonDB memory, this would not be issue normally, however, it

[2018-08-22 16:01] ruromero opened #13 "LocalDateTime cannot be persisted"
Hi,

Is there any way to persist `java.time.LocalDateTime`?
I understand that the problem lays in the lack of a default constructor during the `deepCopy` phase.

[code]

Thanks

[2018-10-19 11:15] FarooqKhan commented on #13
Maybe i need to support AttributeConverter like functionality as described here for JPA: https://www.thoughts-on-java.org/persist-localdate-localdatetime-jpa/

[2018-10-19 11:16] FarooqKhan commented on #13
I wish i had to time to implement this, If someone can implement this i will be glad to review and include it

[2018-10-19 11:19] FarooqKhan commented on #12
I do not plan to change this behaviour at the moment. In future if time permits i can try and make it configurable, until then i am going to mark it wont fix

[2018-10-19 12:09] FarooqKhan commented on #11
I have updated the Jsondb.io website with the information about convention POJO must follow as you suggested.

Thanks

[2018-10-19 12:10] FarooqKhan commented on #11
Please review and if this is what you expected mark this closed.

[2018-10-19 13:34] debuglevel commented on #11
Nice, thank you! That should help :-)

[2018-10-19 13:34] #11 closed, assigned to debuglevel, FarooqKhan

[2018-10-19 21:11] FarooqKhan commented on #8
@alpercoskun i tried to reproduce this bug, and added a unit test for it LoadInvalidJsonTests.java however i could not reproduce this problem, I think i had seen this problem but once but dont remember when it had happened. If you comment the lines inside tearDown() you will see the temporary file src/test/resources/dbfiles/loadInvalidJsonTests/instances.json does have the invalid json entry

Can

[2018-10-29 18:43] scphantm opened #14 "Why the weird format?"
I am looking at this thing closely and i found one critical thing that i really dislike and i wanted to know why you did it.  this line right here

https://github.com/Jsondb/jsondb-core/blob/ebcb67be47fdde6a953190775189a90115055a38/src/main/java/io/jsondb/JsonDBTemplate.java#L211

That line pretty much locks you into the idea that each collection is a non-standard json and you can never pretty pri

[2018-10-29 21:55] FarooqKhan commented on #14
@scphantm JsonDB actually treats it data as NDJSON for all the same reasons as [NDJSON](http://ndjson.org) format was created. At that time it was important for us to be able to process the .json files with tools similar to unix-style text processing tools and shell pipelines, NDJSON like format is easy in those cases.

At the time I created JsonDB i was not aware of the term NDJSON else i would h

[2018-10-30 00:05] scphantm commented on #14
Ah, i see.  Yea, we are passing on this one and going to give jsonPath a try as being able to export standard json arrays into our tests is more important.  Thanks for responding.

[2018-10-30 00:05] #14 closed, assigned to nobody

[2019-01-17 02:00] zzsoszz opened #15 "Failed to move temporary collection file instances"
[code]

[code]

[code]

[2019-01-17 02:02] zzsoszz commented on #15
it will show errors below after run a few times.

5573
5574
5575
5576
5577
19-01-17 10:01:37.170 ERROR [main] io.jsondb.io.JsonWriter                  updateInJsonFile 575 : Failed to move temporary collection file instances6294430801854422529.tmp to collection file instances.json
java.nio.file.AccessDeniedException: C:\Users\EDZ\jsondb\instances6294430801854422529.tmp -> C:\Users\EDZ\jsondb\insta

[2019-01-17 02:11] FarooqKhan commented on #15
@zzsoszz I see what you are trying to do, I will try to check this out later today when i get some time.

[2019-01-17 10:51] FarooqKhan commented on #15
I created the following Unittest copying your code with minor modifications, seems to work fine, maybe something to do with Windows

[code]

[2019-01-17 11:00] FarooqKhan commented on #15
I think this might be a windows quirk. I see a few people facing similar problems on windows. See: [Stackoverflow Link](https://stackoverflow.com/questions/22988210/java-nio-file-accessdeniedexception-while-using-files-move
)
I dont have windows system to test this theory though.

Can you try this, check if the folder permissions has some SID information as mentioned in the link above,
Or maybe th

[2019-01-17 11:08] FarooqKhan commented on #15
You mentioned it gives this error after running a few times.

For every update operation i first create a temporary file and then replace the existing file with the temporary file as a Atomic Move. This way the update operation will be a atomic operation. Maybe a large number of file move operations are causing a problem on windows.

[2019-01-18 02:26] zzsoszz commented on #15
i have tried delete directory of "jsondb" and closing explorer before running and recreated directory is not "ready only",but still get this error after running a few times. i found when you moving file to destination,but the destination still exists,does it case this probolem?

[2019-01-18 12:20] FarooqKhan commented on #15
If that was a problem it would have failed each time.

[2019-01-18 12:21] FarooqKhan commented on #15
I am going to try and get a Windows machine but that is going to take a week or two.

[2019-01-18 12:21] FarooqKhan commented on #15
Could you list here the Window OS your are using?

[2019-01-19 12:58] zzsoszz commented on #15
win 10 professional

[2019-01-21 11:25] saisreenathk opened #16 "jsonDBTemplate.getCollection() not able to identify already existing collection"
We are trying to use jsonDBTemplate.getCollection() to check the Json files are already created and during next run even though the collection exists in the directory it is not able to fetch it and when it tries to createCollection, we get the following error: collection already exists.

Meaning during creation time, JsonDB is able to identify that collection exists and but jsonDBTemplate.getColle

[2019-01-29 07:34] FarooqKhan commented on #16
is it possible for you to share some code? This part of the code is pretty stable, I am unable to understand the problem from your description. Also, share any exceptions you are getting.

[2019-01-30 15:43] saisreenathk commented on #16
Hi Farooq, Thanks for your support, I was able to resolve the issue by enabling DEBUG level logging to print JsonDB logs. I will seek for any further support as required. I appreciate for making this utility open source.

[2019-01-30 15:43] #16 closed, assigned to FarooqKhan

[2019-03-22 22:06] nterry opened #17 "Use java.nio for all file operations"
This would allow for alternate Filesystem implementations to be used such as JimFS and such for unit tests.

[2019-04-11 07:59] chethan-K opened #18 "is it possible to move common properties to base class"

[2019-04-11 08:01] chethan-K commented on #18
public class BaseModel {

	@JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss.SSS")
	private Timestamp createdAt;

	@JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss.SSS")
	private Timestamp updatedAt;
}

@Document(collection = "user", schemaVersion = "1.0")
public class User extends BaseModel {

}

[2019-04-11 08:03] chethan-K commented on #18
I have simply tried by extending!!
Getting below exception!!

java.lang.NullPointerException
	at java.util.TreeMap.getEntry(TreeMap.java:347)
	at java.util.TreeMap.get(TreeMap.java:278)
	at io.jsondb.CollectionMetaData.<init>(CollectionMetaData.java:103)
	at io.jsondb.CollectionMetaData.builder(CollectionMetaData.java:213)
	at io.jsondb.JsonDBTemplate.initialize(JsonDBTemplate.java:122)
	at io.jso

[2019-04-13 05:50] FarooqKhan commented on #18
JsonDB does not implement its own restrictions, it expects every model class is valid Java Bean.

"Every object that you wish to save in JsonDB must be a POJO (Plain Old Java Object) that satisfies the JavaBean programming conventions. Each object must implement either Serializable or Externalizable, must have a no-arg(default) constructor, and each of its properties(attributes) must have public s

[2019-04-13 06:22] FarooqKhan commented on #17
I had not realised this, I will try to check this out and fix it when i get some time.

[2019-04-15 19:52] nterry commented on #17
@FarooqKhan Yeah man, check out JimFS here: https://github.com/google/jimfs

It would allow users such as myself to unit test without having to mock. You could have a constructor accept a java.nio.FileSystem object and default to the default filesystem.

[2019-05-20 05:34] #18 closed, assigned to nobody

[2019-06-19 15:30] yawkat opened #19 "Insecure default cipher"
The default cipher implementation at https://github.com/Jsondb/jsondb-core/blob/c49654d1eee2ace4d5ca5be19730652a966ce7f4/src/main/java/io/jsondb/crypto/DefaultAESCBCCipher.java is vulnerable to various attacks.

The cipher construction used is AES-128/192/256 in CBC mode with PKCS5 padding with the key as the IV and no authentication.

- Lack of authentication leads to various interactive attacks.

[2019-06-20 04:41] FarooqKhan commented on #19
Thanks for finding this, how pathetic of me I never ever gave a thought to this aspect. I will fix this asap with some other things I have in mind.

[2019-06-20 04:43] FarooqKhan commented on #19
@yawkat do you have any suggestions for the chiper to use?

[2019-06-20 08:05] yawkat commented on #19
The "ideal" solution would be something like NaCl's crypto_secretbox. However, this would entail adding external libraries, which is probably overkill for this project.

Using only the Java standard library, our suggestion would be AES-GCM. A quick google shows this example: https://gist.github.com/praseodym/f2499b3e14d872fe5b4a which seems sane. The AAD part is not relevant here I believe, since

[2019-06-24 19:00] jansoren opened #21 "Is is possible to have different json-files using the same document?"
Hi :slightly_smiling_face:

I have multiple collections that are using the same document. Is there any posibility to persist the different collections in different json-files?

The reason why I want to use multiple json files is that the data in them is large and has nothing to do with each other.

[2019-06-24 21:22] jansoren commented on #13
Hi,

Could this issue be solved with [jackson-modules-java8](https://github.com/FasterXML/jackson-modules-java8)?

[code]

[2019-09-23 13:22] mataide opened #23 "Nullpoint Exception for ID"
I had in my project `import javax.persistence.Id;` as annotation for the models, usually every database share the same annotation, so I got a nullpoint exception for this.

So there 2 ways to solve this problem:

1- Handle this exception to show to the user a better information about the error.
2- Implement javax.persistence annotation as it is used by the most java db.

[2019-09-23 13:39] mataide opened #24 "CollectionExists always return false"
The following object always return false for the method `collectionExists`:

[code]

[2019-09-23 14:10] mataide commented on #24
I found that I am getting this error:

`com.math.pro.ak.io.jsondb.io.JsonFileLockException: JsonReader failed to obtain a file lock for file /Users/marcus/Documents/Workspace/proak-desktop/eMasters/Temp/db/lock/User.json.lock`

[code]

[2019-09-23 17:08] mataide opened #25 "Table Generation Strategy"
Feature Request:

Create a setting for Table Generation Strategy.
Usually databases have 3 options:

1. Create
2. Drop and Create
3. Update

[2019-09-23 17:10] mataide commented on #24
What I found is that "User" has a model "Game", wich has a field valid, wich was missing the setter method.

[2019-09-23 17:33] FarooqKhan commented on #24
@mataide  do you maybe have 2 different issues being reported here.
Seems like you were able to solve the first about collectionExists based on your last update can you update here a confirmation.

About your 2nd update jsondb uses the lock files to ensure a automic update is done to the db files. For this reason it needs to be able to create the lock folder and lock files under it. Can you check

[2019-09-23 17:38] mataide commented on #24
@FarooqKhan, what happened was that I was looking for the `collectionExists` error inside the library and I accidentally just remove a piece of code that broke the lock logic.

So, I think that should improve the error log and its done.

Thanks

[2019-09-23 17:39] FarooqKhan commented on #21
Hi @jansoren,

JsonDB already has one actual file named as 'collectionname.json' per collection. Can you explain a bit more what actually you are trying to achive.

Thanks
Farooq

[2019-10-11 10:08] fortlaxjoel opened #26 "db.delete can't delete objects in array based on index if the array name contains dashes"
For example:

`db.delete("/arraytest/my-array[0]");` // Wont work
`db.delete("/arraytest/myarray[0]");` // Will work

I am storing an SSID as the array name and it would greatly simplify the code if i could keep it that way. Otherwise i will have to loop the array, match the SSID value, check the index of that value and delete the subdata based on the index where it matched the SSID value.

I have

[2019-10-11 11:07] FarooqKhan commented on #26
I use xpath to find the object to delete, I was hoping xpath allows a '-' if it does not its going to be difficult one. But give me some time check it out

[2019-10-11 11:35] fortlaxjoel commented on #26
You'll have to excuse me, but im uncertain if i asked this question in the right github repo. I am using the jsondb package for node found here: https://www.npmjs.com/package/node-json-db

Is this an entirely different jsondb tool?....

[2019-10-11 13:40] FarooqKhan commented on #26
@fortlaxjoel wrong repo
I will close this defect

[2019-10-11 13:40] #26 closed, assigned to nobody

[2019-10-12 16:16] #13 closed, assigned to nobody

[2019-10-12 16:23] FarooqKhan commented on #19
This has been fixed by @rzwitserloot

[2019-10-12 16:23] #19 closed, assigned to FarooqKhan

[2019-11-12 15:15] mfreeman-xtivia opened #28 "Disable Package Scan?"
How hard would it be to disable the package scan feature?

I would like to use the library in an OSGi environment where at best the scan finds nothing due to the way OSGi classloading works, and at worst, well does something worse. What I would like to do is manually hand the database the classes i would like it to use

[2019-12-18 11:49] FarooqKhan commented on #28
This should be doable I think. I can try doing this in any spare time i get in the next few months, although i am not sure when. @mfreeman-xtivia if you can implement this feature and raise a pull request I will be more than happy to merge it.

[2020-01-28 12:47] bergerbd opened #29 "JDK Version of Binary Release at Maven Central"
Currently, I'm trying to use JsonDB in a project of mine that is targeting JDK 8. Unfortunately, the binary release at Maven Central is built with JDK 11. If I use it in a JRE 8 environment I end up with the following exception:

`Exception in thread "main" java.lang.UnsupportedClassVersionError: io/jsondb/JsonDBTemplate has been compiled by a more recent version of the Java Runtime (class file ve

[2020-01-28 13:18] Tanvir6364 opened #30 "How to get sort and Limit data?"
Hello,
How can we get limit data like sql such as say within range from 1 - 10, then from 10-20 etc.

Also is there any way to get sorted data from the collection (as in order by etc)?

Thanks

[2020-01-31 19:21] FarooqKhan commented on #30
Not at the moment, but this is a good feature to have. I could overload the find() methods to take a Comparator to sort by. The limit functionality could also be implemented.

I will try to implement this when i get some time. I would also be happy to incorporate a pull request from you if you would want to implement.

Thanks
Farooq

[2020-01-31 19:23] FarooqKhan commented on #29
@bergerbd yes travis uses jdk8, but i build the jars and push to maven central, and last time i did that i made mistake of using jdk11. I will use jdk8 and try to release a version soon.

I think having it build with jdk8 would be okay for everyone.

[2020-01-31 19:27] FarooqKhan commented on #25
@mataide could you explain a bit more what would this strategy do. Please give a example

[2020-01-31 19:28] FarooqKhan commented on #21
@jansoren i think this is not a issue i am going to close it, if you still think this is a issue please reopen it.

[2020-01-31 19:28] #21 closed, assigned to nobody

[2020-01-31 19:41] mataide commented on #25
When you start the application, you want to:
1. Create only if not exist.
2. Drop everything and create again.
3. Only update the models.

[2020-01-31 20:02] FarooqKhan commented on #25
@mataide Okay thanks that makes it clear, i will try to incorporate this next time i get some time.

[2020-03-16 15:58] vinczebalazs commented on #30
Hi! Has this been released?

[2020-03-17 06:27] FarooqKhan commented on #30
Sort part is done checked in, but not released on maven central yet.
I am working the limit part. Its going to take some more time. I am implementing it as a slice feature similar to python|numpy so its taking a bit more time. This weekend i will probably be able to spend more time and finish it. By end of march i hope to finish this.

[2020-03-22 17:58] simonecattaneo91 commented on #29
Hi @FarooqKhan did you have any news on this? I've the exact same problem, I'm working on a project that use JDK 8 and I need the newer version to support the LocalDateTime properties.

[2020-03-28 20:51] FarooqKhan commented on #30
This feature is now complete and checked in. I have released a build on maven but this will take a few days before it is visible.

There will be two builds version 1.0.115-j8 and 1.0.115-j11, first is built using JDK8 and the second one is built using JDK 11.

Please test and let me know if there are any issues.

[2020-03-28 20:51] #30 closed, assigned to FarooqKhan

[2020-03-28 20:53] FarooqKhan commented on #29
I just released 2 new version on maven, Version 1.0.115-j8 and 1.0.115-j11, first is built using JDK8 and the second one is built using JDK 11.

for some reason maven always takes a few days before these versions are visible to everyone.

[2020-03-28 20:53] #29 closed, assigned to FarooqKhan

[2020-03-31 17:27] NightCrawlerX1 opened #31 "cannot access JsonDBTemplate"
Every time I try to connect my application it generates the same error.

import io.jsondb.JsonDBTemplate;
                ^
  bad class file: C:\Users\Thomaz\.gradle\caches\modules-2\files-2.1\io.jsondb\jsondb-core\1.0.115-j11\28dd0e74b2dfc45748de1a683b025a71913cc6fd\jsondb-core-1.0.115-j11.jar(io/jsondb/JsonDBTemplate.class)
    class file has wrong version 55.0, should be 52.0
    Please remove

[2020-03-31 21:07] #31 closed, assigned to nobody

[2020-04-02 11:38] FarooqKhan commented on #31
This happens when you are trying to use jsondb.jar compiled with higher version of javac in a project that uses a lower version of javac.
Exactly for this reason I have started releases two versions please use the version 1.0.115-j8

[2020-04-07 00:59] ByteCompiler opened #32 "how i can run in localhost 127.0.0.1 the json database?"
the .jar and .src.java dont has manifest for run the database json server then how i can connect to the json database?

[2020-04-30 14:05] tungp99 opened #34 "Support for excluding fields"
In my needs, the POJO has some property which link directly to another POJO. From .net background, I believe it's called lazy-loading prop. My workaround is available so you can consider this as suggestion.

[code]

[2020-05-03 17:54] starksm64 opened #35 "Addition of toString() method to document class results in it not being located"
I have a document class that was not being picked up during the JsonDBTemplate initialize phase. After stripping it down to determine what might be causing it, I found that just the inclusion of the `public String toString()...` method in the class was causing it to not be recognized as a valid collection. I have not looked into why that is.

[2020-05-03 18:21] starksm64 commented on #35
I did track it down to this problem:
[code]
This is due to an older version of javassist being included by a parent project. Updating javassist fixed the issue.

[2020-05-03 18:21] #35 closed, assigned to nobody

[2020-05-15 16:14] qmc1020 opened #36 "ID auto increment"
Do we have id auto increment?

[2020-05-29 10:24] aeifr commented on #36
So far not.
A JPA like auto incrementation is not present so far.
At the moment a default ID algorithm is used - UUIDs.
An ID logic would require a sequence store.
Could be implemented. If the demand is high, you could implemented it yourself and create a pull request.
On my end the need is not given (not involved so far in this project).

My idea:
A JPA like sequence generator per collection. Sho

[2020-05-29 10:30] aeifr opened #37 "Support of a lifecycle pre/post upsert/save/delete hooks trough annotations"
After executing all tests trough gradle, the test files (instance locks) are still in the test directory.
Path: `src/test/resources/dbfiles/*Tests.lock/instances.json.lock`

Suggestion:
Temp dirs

Suggested library/module:
JUnit 5:
https://www.baeldung.com/junit-5-temporary-directory

Results in a cleanup after a test execution, therefore no test artifacts.

[2020-05-29 10:41] aeifr opened #38 "Generated resources during test execution not deleted afterwards"
Version: 1.0.115 (latest at this time)

After executing all tests trough gradle, the test files are still in the test directory.
Path: src/test/resources/dbfiles/eventsTests

Suggestion:
Temp dirs

Suggested library/module:
JUnit 5:
https://www.baeldung.com/junit-5-temporary-directory

Results in a cleanup after a test execution, therefore no test artifacts.

[2020-07-07 03:26] dector opened #39 "No way to "flush" database"
I'm not able to insert data in [Scratch](https://www.jetbrains.com/help/idea/scratches.html) as there is no way to force database to persist current data. Or am I missing something?

[2020-07-07 14:25] FarooqKhan commented on #39
Every insert/update/delete to the JsonDB is done so that it's atomic. Meaning first we write to the file and only then return success. Also, we create a temp file make the write into that temp file and then do a move operation at the end. We also close all the IO Stream objects each time. So I think a explicity flush would not be required. I am not sure why you are feeling the need for a flush ope

[2020-07-07 14:27] FarooqKhan commented on #9
I think I figured out how to do this without making it too slow. I have removed the wontfix label and added an enhancement label. I hope to implement this someday, although I don't know when I will get to it.

[2020-07-07 16:57] dector commented on #39
Thanks for your response, @FarooqKhan !

I was using scratch files in IDEA and thought that database isn't flushing automatically.

But just now I thought that working directory for scratch files is not the same as working directory for an opened project. Will check it later and close the issue if it's actually the root of my problem. Thanks and sorry for bothering you.

**Update**. Yeah, scratche

[2020-07-08 02:03] #39 closed, assigned to nobody

[2020-08-10 08:27] ettisan opened #40 "Provide security contact info"
I'd like to privately discuss a security topic with the maintainers, but there is no way to privately contact them.

Ideally an e-mail address and PGP key should be provided.

[2020-08-10 18:57] FarooqKhan commented on #40
@ettisan you can connect with at my email: farooq_m_khan@yahoo.com
PGP Public key: https://keys.openpgp.org/search?q=farooq_m_khan%40yahoo.com

[2020-08-12 10:00] DataMirko opened #41 "Modified json file make collectionExist return false"
Hi!
I have 2 json db file. One for user (users.json) and one for transactions (transactions.json)
Everytime i run the java application. The transactions.json file is rewritten and i loose every data in it.
When i add some data in the file, the jsonDBTemplate.collectionExists(Transaction.class) return false so a new transactions.json is written.

![ph](https://user-images.githubusercontent.com/5001

[2020-08-12 12:02] #41 closed, assigned to nobody

[2020-08-12 12:03] DataMirko commented on #41
There was a mistake in the json file. Data could not loaded correctly in the java Class field

[2020-08-22 13:08] #40 closed, assigned to nobody

[2020-08-31 21:42] Hatzen opened #42 "Android does not find any classes"
TL;DR;
It seems this project is not able to run on android.
-----------
At first thanks for this library. But i m struggeling a lot at getting it working with android.

currently my problem is that the lib is initalized properly but as soon as i want to call
        `jsonDBTemplate.createCollection(DeviceData1::class.java)`
it throws
<details>
<summary>io.jsondb.InvalidJsonDbApiUsageException: No

[2020-09-01 18:26] Hatzen commented on #42
When adding the code to a simple to a junit test within the exact same project everything works just fine, creating, reading, and saving.
But adding it to an instrumentedTest which is the same as running the app. The classes wont be found. So it does not seem to be a kotlin issue but more an android thing or maybe a wrong configuration or something.

[code]
[code]
--------
It seems to be an issue

[2020-09-07 20:29] Hatzen opened #43 "Recursive data structures. Cycles not supported"
I noticed the library does not support cycling relations. Also this is not documented within the readme or the documentation page so i just want to write this done for anyone else is interesting in it.
This is a common to not be handled with json so i will close this issue.

It will throw an StackOverflowError excpetion:
[code]

[2020-09-07 20:29] #43 closed, assigned to nobody

[2021-01-03 02:34] EclipseKnight opened #45 "JDK 15 compliance"
I was just curious if this library would work with JDK 15. Using some features from it for a recent project and I've used this library in the past but for java 8 project.

Thanks in advance!

[2021-01-04 17:12] ettisan commented on #40
in case you did you receive my mail (august 22nd), let me know

[2021-01-21 03:45] EclipseKnight opened #46 "jsonDBTemplate.findAll(Instance.class, comparator)"
This method is documented on the site but is not usable.
[image of IDE](https://imgur.com/1D9lDHx)
Am I missing something?

[2021-01-21 03:45] #45 closed, assigned to nobody

[2021-01-29 19:59] EclipseKnight opened #47 "xpath lower-case() find."
Does the xpath functionality support setting attributes to lowercase or the ability to translate() them.

Essentially I'm trying to run a find search for a parameter that is stored as case sensitive but can be found by a case insensitive value.

If i have an attribute in the db as such
name = John

and attempt to find values == to "john" would return that document.

[2021-01-29 22:41] EclipseKnight commented on #47
After some digging I found that the dependency used for xpath, Apache jxpath, uses the xpath version 1 standard which supports only translate().

[2021-01-29 22:41] #47 closed, assigned to nobody

[2021-04-15 13:24] chenyi19851209 opened #48 "ndjson parse example"
hello.

i need develop server for parse ndjson format to java object .

can you show me an examples ?

thank you very much.

[2021-09-15 22:51] RickeyWard opened #51 "File Writes Are Not Thread Safe"
Using this in a simple Servlet container application and ran into concurrency issues where multiple threads are trying to write to the file at the same time. Looked at the code the only write protection is a FileLock, and the java documentation states that

It should be as simple as marking the io methods `synchronized`.

I'm happy to do a RP if its welcomed.

[2021-09-25 23:36] FarooqKhan commented on #51
@RickeyWard Please create a pull request i will be happy to merge. Please do create unit test cases, We need this to be really stable. Jsondb is used by a lot of people and I would hate to break it because I am unable to test thoroughly.

[2021-10-03 21:03] BlueDrink9 commented on #46
This is because you are using the released version, which doesn't have the features documented on the project homepage. @FarooqKhan any chances of getting a new tag/release so that tools like maven can access the new jsondb features?

[2021-10-04 20:11] FarooqKhan commented on #46
This method has always been part of the released jar. I downloaded the jar from mvnrepository and decompiled and checked. It shows up in the jar. I have had this coded for over 5 years now. There has to be some other problem.

[2021-10-07 02:53] BlueDrink9 commented on #46
This functionality didn't work for me either, until I switched from the tagged release to the latest git commit.

I feel wrong telling you that you are incorrect about your own code, but if you look [at the class as of the release commit](https://github.com/Jsondb/jsondb-core/blob/cb9155c39897eebbd3c637c490b5903d314b4c71/src/main/java/org/jsondb/JsonDBTemplate.java) you'll see that actually, those

[2021-10-07 02:54] BlueDrink9 commented on #46
There have been 100+ commits since the last git tag was released, and that seems to be what gets picked up by Maven

[2021-10-28 17:41] nothub opened #52 "invalid json format"
A json file I generated with jsondb has multiple top-level values and thus (afaik) is not a valid json document.
Is there a way to configure jsondb to create entries under a single top-level value?

Example:
[code]

[2021-11-05 19:41] FarooqKhan commented on #52
JsonDB is desiged this way, each file is equivalent to a collection, and each entry is equivalent to one document. There is no way to make the entire file  a valid JSON document

[2021-11-05 19:59] #52 closed, assigned to nobody

[2022-04-02 22:24] sebastian-mrozek commented on #51
I'd argue that a JVM-wide lock is actually desired here. It would prevent multiple instances of an app overwriting data (as  opposed to lock only preventing multiple threads within a single app)

[2022-04-04 17:09] DzDev202020 opened #53 "No class found with @Document Annotation and attribute collectionName as: User, Android"
Hello there,
when I try to create collection this exception is thrown " No class found with @Document Annotation and attribute collection Name as: User ", I am sure 100% my code and implementation are correct. If I use it in java code test it work 100%. The problem in reflection does not  find the classes at runtime (samsung device). check the code below please:

this is my db init code:

[code]

[2022-04-04 21:56] DzDev202020 commented on #42
Hello,
Could please tell me how did you solve this problem ?? I am already 5day and no solution for it :/ and the library very useful.
if you could help I appreciate it.

[2022-04-05 05:53] Hatzen commented on #53
As you noticed in #42 there is currently No way to use this library on Android as the reflection lib is Not working.
Currently the best way to Go is to use a working library targeting Android Like Realm, Objectbox, Room, etc

[2022-04-05 08:23] DzDev202020 commented on #53
@Hatzen  I appreciate your  reply, big thanks for you.
How other libraries work ?? which are using annotation, like Room for example your use @Entity , @Id .... , how did they used reflection or finding classes, Probably it is prebuild process or some thing like that is related to gradle?. actually I am low experience with gradle.